extends layout

block content
  div.row
    div.col-md-8
        div.panel.panel-warning
            div.panel-heading= "Start playing!"
            div.panel-body
                form(method='post', id='roomNameForm')
                    div.form-group
                        label(for='roomName') Room Name:
                        input(id='roomName', type="text", name='roomName').form-control
                    button(type='submit').btn.btn-default Go!
    div.col-md-4
        div.panel.panel-warning
            div.panel-heading= "How to play"
            div.panel-body
                ol
                    li= "Create or join a room by name"
                    li= "Invite other friends by sending the page url."
                    li= "Create as many groups of 4 squares as possible!"
  script(src='/javascripts/index.js')
